* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* apply for whole page */

header {
  /* styling header*/
  color: #fff8e3;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

body {
  /* styling body*/
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex; /* Use flex for vertical layout */
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
  background: hsl(329, 100%, 81%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  width: 100%;
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.nav-bar {
  flex: 1;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container {
  flex: 30;
  margin: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.music-player {
  width: 500px;
  height: 550px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
  padding: 30px;
  overflow: z;
  color: #fff8e3;
}

.playlist {
  /* styling playlist sec*/
  width: 400px;
  height: 550px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
  padding: 30px;
  overflow: z;
  color: #fff8e3;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  flex: 50;
  margin: 15px;
  margin-left: 0;
}

h2 {
}

.track-name {
  width: 999px;
  height: 450px;
  border-radius: 20px;
  background: hsl(329, 100%, 82%);
  box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
  padding: 30px;
  overflow: z;
  color: #fff8e3;
}

.icon:hover {
  cursor: pointer;
}

/* edit font and alignment */
.music-name {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 1px;
}
.artist-name {
  font-size: 20px;
}

.disk {
  /* editing the spinning sec */
  position: relative;
  display: block;
  margin: 40px auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-image: url("images/cover\ 1.jpg");
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08); /* thin shad for the disk */
  animation: rotate 20s linear infinite; /* animate rotation for the disk */
  animation-play-state: paused; /* the default play state off the disk is pausing */
}

.disk.play {
  /* Spin when playing */
  animation-play-state: running;
}

.disk::before {
  /* Center dot of the disk in the center */
  content: ""; /* Generate pseudo element */
  position: absolute; /* Absolute inside .disk */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: hsl(329, 100%, 81%);
}

.song-slider {
  /* styling seekbar + time labels */
  width: 100%;
  position: relative;
}

.seek-bar {
  -webkit-appearance: none; /* Remove default WebKit look */
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: hsl(316, 100%, 88%);
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  background: #fffaae;
  box-shadow: -400px 0 0 400px hsl(330, 100%, 75%);
}

.current-time,
.song-duration {
  font-size: 14px;
}

.song-duration {
  position: absolute;
  right: 0;
}

.controls {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.play-button {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: hsl(316, 100%, 88%);
  cursor: pointer;
  border: none;
}

.play-button span {
  /* Bars used to form icons */
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: hsl(330, 100%, 81%);
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.play-button span:nth-child(2) {
  /* Second bar position */
  left: 55%;
  transform-origin: center;
}

.play-button.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}

.play-button.pause span:nth-child(1) {
  /* Turn first bar into triangle */
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-button.pause {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  /* Keyframes for play butt  */
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }
}

.button {
  width: 40px;
  height: 40px;
  background: hsl(316, 100%, 88%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

a {
  color: #fff8e3;
}

@keyframes rotate {
  /* rotate animate */
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.playlist ol li {
  cursor: pointer; /* Clickable */
  margin-bottom: 10px;
  transition: opacity 0.3s ease; /* Smooth hover */
}

.playlist ol li.inactive {
  /* Currently playing track */
  opacity: 0.4; /* visible range */
  pointer-events: none;
}

.track-name {
  width: 55%;
  height: 20%;
}
/* styling when hover in a song in playlist, the opacity change*/
.playlist ol li {
  cursor: pointer;
  margin-bottom: 10px;
  transition: opacity 0.3s ease, font-weight 0.3s ease;

  opacity: 0.5;
  font-weight: normal;
}

.playlist ol li.active-track {
  opacity: 1 !important;
  font-weight: bold;
  color: #fffaae;
  text-decoration: underline;
}

.playlist ol li:not(.active-track):hover {
  opacity: 1;
}
