audio,
video {
  display: block;
  margin-bottom: 12px;
}

video {
  width: 600px;
  height: 400px;
  border: 1px solid pink;
  margin-top: 10px;
}

button {
  font-size: 1.5rem;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgb(255, 197, 207);
}

button:hover {
  scale: 0.9;
}
